openapi: 3.0.0
info:
  title: EVM Balance Wallets API
  version: '2.2'
servers:
- url: https://deep-index.moralis.io/api/v2.2
security:
- ApiKeyAuth: []
tags:
- name: Wallets
paths:
  /wallets/{address}/approvals:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get ERC20 approvals by wallet
      description: List active ERC20 token approvals for a wallet, showing which contracts have access.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletApprovals
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: query
        name: limit
        description: The desired page size of the result.
        required: false
        schema:
          type: integer
          minimum: 0
      - in: query
        name: cursor
        description: The cursor returned in the previous response (used for getting the next page).
        schema:
          type: string
      - in: path
        name: address
        description: The wallet address from which to retrieve active ERC20 token approvals
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
      responses:
        '200':
          description: Returns active ERC20 token approvals for the specified wallet address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/walletApprovals'
      x-mcp-prompt: Enter the wallet address to view its active ERC20 token approvals. Use this when users want to check a wallet’s token approvals or review security settings.
  /wallets/{address}/history:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get the complete decoded transaction history of a wallet
      description: Get the complete decoded transaction history for a given wallet. All transactions are parsed, decoded, categorized and summarized into human-readable records.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletHistory
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: query
        name: from_block
        description: 'The minimum block number from which to get the transactions

          * Provide the param ''from_block'' or ''from_date''

          * If ''from_date'' and ''from_block'' are provided, ''from_block'' will be used.

          '
        required: false
        schema:
          type: integer
          minimum: 0
      - in: query
        name: to_block
        description: 'The maximum block number from which to get the transactions.

          * Provide the param ''to_block'' or ''to_date''

          * If ''to_date'' and ''to_block'' are provided, ''to_block'' will be used.

          '
        required: false
        schema:
          type: integer
          minimum: 0
      - in: query
        name: from_date
        description: 'The start date from which to get the transactions (format in seconds or datestring accepted by momentjs)

          * Provide the param ''from_block'' or ''from_date''

          * If ''from_date'' and ''from_block'' are provided, ''from_block'' will be used.

          '
        required: false
        schema:
          type: string
      - in: query
        name: to_date
        description: 'Get the transactions up to this date (format in seconds or datestring accepted by momentjs)

          * Provide the param ''to_block'' or ''to_date''

          * If ''to_date'' and ''to_block'' are provided, ''to_block'' will be used.

          '
        schema:
          type: string
      - in: path
        name: address
        description: The address of the wallet
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
      - in: query
        name: include_internal_transactions
        description: If the result should contain the internal transactions.
        required: false
        schema:
          type: boolean
      - in: query
        name: nft_metadata
        description: If the result should contain the nft metadata.
        required: false
        schema:
          type: boolean
      - in: query
        name: cursor
        description: The cursor returned in the previous response (used for getting the next page).
        schema:
          type: string
      - in: query
        name: order
        description: The order of the result, in ascending (ASC) or descending (DESC)
        required: false
        schema:
          $ref: '#/components/schemas/orderList'
      - in: query
        name: limit
        description: The desired page size of the result.
        required: false
        schema:
          type: integer
          minimum: 0
      responses:
        '200':
          description: Returns wallet history of a wallet address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/walletHistory'
      x-mcp-prompt: Provide the wallet address to retrieve its complete history. Use this when users request a wallet’s full transaction log or want a detailed activity overview.
  /wallets/{address}/tokens:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get token balances with prices by wallet address
      description: Fetch ERC20 and native token balances for a given wallet address, including their USD prices. Each token returned includes on-chain metadata, as well as off-chain metadata, logos, spam status and more. Additional options to exclude spam tokens, low-liquidity tokens and inactive tokens.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletTokenBalancesPrice
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: path
        name: address
        description: The address from which token balances will be checked
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
      - in: query
        name: to_block
        description: The block number up to which the balances will be checked.
        required: false
        schema:
          type: number
      - in: query
        name: token_addresses
        description: The addresses to get balances for (optional)
        required: false
        schema:
          type: array
          maxItems: 10
          items:
            type: string
      - in: query
        name: exclude_spam
        description: Exclude spam tokens from the result
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: exclude_unverified_contracts
        description: Exclude unverified contracts from the result
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: cursor
        description: The cursor returned in the previous response (used for getting the next page).
        schema:
          type: string
      - in: query
        name: limit
        description: The desired page size of the result.
        required: false
        schema:
          type: integer
          minimum: 0
      - in: query
        name: exclude_native
        description: Exclude native balance from the result
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: max_token_inactivity
        description: Exclude tokens inactive for more than the given amount of days
        required: false
        schema:
          type: number
      - in: query
        name: min_pair_side_liquidity_usd
        description: Exclude tokens with liquidity less than the specified amount in USD. This parameter refers to the liquidity on a single side of the pair.
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Returns token balances with prices for a specific address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/erc20TokenBalanceWithPriceResult'
      x-mcp-prompt: Enter the wallet address to view its ERC20 token balances and prices. Use this when users want a wallet’s token holdings with USD values or are assessing portfolio value.
  /wallets/{address}/net-worth:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get wallet net worth
      description: Calculate the total net worth of a wallet in USD, with options to exclude spam tokens for accuracy. Options to query cross-chain using the `chains` parameter, as well as additional options to exclude spam tokens, low-liquidity tokens and inactive tokens.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletNetWorth
      parameters:
      - in: query
        name: chains
        description: The chains to query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/chainList'
      - in: path
        name: address
        description: The wallet address
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
      - in: query
        name: exclude_spam
        description: Exclude spam tokens from the result
        required: false
        schema:
          type: boolean
          default: false
          example: true
      - in: query
        name: exclude_unverified_contracts
        description: Exclude unverified contracts from the result
        required: false
        schema:
          type: boolean
          default: false
          example: true
      - in: query
        name: max_token_inactivity
        description: Exclude tokens inactive for more than the given amount of days
        required: false
        schema:
          type: number
          example: 1
      - in: query
        name: min_pair_side_liquidity_usd
        description: Exclude tokens with liquidity less than the specified amount in USD. This parameter refers to the liquidity on a single side of the pair.
        required: false
        schema:
          type: number
          example: 1000
      responses:
        '200':
          description: Returns the net worth of a wallet in USD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netWorthResult'
      x-mcp-prompt: Provide the wallet address to calculate its net worth. Specify if spam tokens should be excluded. Use this when users ask for a wallet’s total value or want a portfolio valuation.
  /wallets/{address}/defi/summary:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get the DeFi summary of a wallet
      description: Summarize a wallet’s DeFi activity, including total USD value, unclaimed rewards and active protocols.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getDefiSummary
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: path
        name: address
        description: Wallet address
        required: true
        schema:
          type: string
          example: '0xd100d8b69c5ae23d6aa30c6c3874bf47539b95fd'
      responses:
        '200':
          description: Returns the defi summary for the wallet address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/walletDefiSummary'
      x-mcp-prompt: Enter the wallet address to view its DeFi summary. Use this when users want an overview of a wallet’s DeFi activity or are exploring DeFi investments.
  /wallets/{address}/defi/{protocol}/positions:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get detailed DeFi positions by protocol for a wallet
      description: Fetch detailed DeFi positions for a given wallet and protocol.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getDefiPositionsByProtocol
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: path
        name: address
        description: Wallet address
        required: true
        schema:
          type: string
          example: '0xd100d8b69c5ae23d6aa30c6c3874bf47539b95fd'
      - in: path
        name: protocol
        description: The protocol to query
        required: true
        schema:
          $ref: '#/components/schemas/defiProtocolList'
          example: aave-v3
      responses:
        '200':
          description: Returns the defi positions by protocol for the wallet address.
          content:
            application/json:
              schema:
                type: object
                properties:
                  protocol_name:
                    type: string
                    description: The name of the protocol
                    example: Uniswap v2
                  protocol_id:
                    type: string
                    description: The id of the protocol
                    example: uniswap-v2
                  protocol_url:
                    type: string
                    description: The url of the protocol
                    example: https://app.uniswap.org/pools/v2
                  protocol_logo:
                    type: string
                    description: The logo of the protocol
                    example: https://cdn.moralis.io/defi/uniswap.png
                  total_usd_value:
                    type: number
                    example: 47754.14278954011
                  total_unclaimed_usd_value:
                    type: number
                    nullable: true
                    example: null
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/defiProtocolPosition'
      x-mcp-prompt: Provide the wallet address and protocol to view its DeFi positions. Use this when users ask for specific DeFi protocol activity or need detailed position data.
  /wallets/{address}/defi/positions:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get DeFi positions of a wallet
      description: Get a concise overview of a wallet’s DeFi positions across all protocols.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getDefiPositionsSummary
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: path
        name: address
        description: Wallet address
        required: true
        schema:
          type: string
          example: '0xd100d8b69c5ae23d6aa30c6c3874bf47539b95fd'
      responses:
        '200':
          description: Returns all defi positions for the wallet address.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/defiPositionSummaryResponse'
      x-mcp-prompt: Enter the wallet address to retrieve its DeFi positions summary. Use this when users want a quick summary of a wallet’s DeFi holdings or are comparing protocols.
  /wallets/{address}/chains:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get active chains by wallet address
      description: List the blockchain networks a wallet is active on, including their first and last seen timestamps. Options to query cross-chain using the `chains` parameter.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletActiveChains
      parameters:
      - in: path
        name: address
        description: Wallet address
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
      - in: query
        name: chains
        description: The chains to query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/chainList'
      responses:
        '200':
          description: Returns the active chains for the wallet address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/walletActiveChains'
      x-mcp-prompt: Provide the wallet address to see its active chains. Use this when users ask which blockchains a wallet uses or want to analyze cross-chain activity.
  /wallets/{address}/stats:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get summary stats by wallet address
      description: Retrieve key statistics for a wallet, such as total transaction count and activity.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletStats
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: path
        name: address
        description: Wallet address
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
      responses:
        '200':
          description: Returns the stats for the wallet address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/walletStat'
      x-mcp-prompt: Enter the wallet address to fetch its stats. Use this when users want a wallet’s activity metrics or are analyzing its usage patterns.
  /wallets/{address}/profitability/summary:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get profit and loss summary by wallet address
      description: Get a profit and loss summary for a given wallet, over a specified timeframe (`days`).
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletProfitabilitySummary
      parameters:
      - in: path
        name: address
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
        description: The wallet address for which profitability summary is to be retrieved.
      - in: query
        name: days
        required: false
        schema:
          type: string
        description: Timeframe in days for the profitability summary. Options include 'all', '7', '30', '60', '90' default is 'all'.
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      responses:
        '200':
          description: Successful response with the profitability summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count_of_trades:
                    type: number
                    description: Total count of trades executed by the wallet.
                  total_trade_volume:
                    type: string
                    description: Total trade volume managed by the wallet.
                  total_realized_profit_usd:
                    type: string
                    description: Total realized profit in USD for the wallet.
                  total_realized_profit_percentage:
                    type: number
                    description: Total realized profit as a percentage.
                  total_buys:
                    type: number
                    description: Total number of buy transactions.
                  total_sells:
                    type: number
                    description: Total number of sell transactions.
                  total_sold_volume_usd:
                    type: string
                    description: Total USD volume of tokens sold by the wallet.
                  total_bought_volume_usd:
                    type: string
                    description: Total USD volume of tokens bought by the wallet.
      x-mcp-prompt: Provide the wallet address and a timeframe in `days`. Use this when users ask for a wallet’s profit and loss overview.
  /wallets/{address}/profitability:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get detailed profit and loss by wallet address
      description: Get a detailed profit and loss breakdown by token for a given wallet, over a specified timeframe (`days`). Optionally filter by `token_addresses` for specific tokens.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletProfitability
      parameters:
      - in: path
        name: address
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
        description: The wallet address for which profitability is to be retrieved.
      - in: query
        name: days
        required: false
        schema:
          type: string
        description: Timeframe in days for which profitability is calculated, Options include 'all', '7', '30', '60', '90' default is 'all'.
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: query
        name: token_addresses
        description: The token addresses list to filter the result with
        required: false
        schema:
          type: array
          maxItems: 25
          items:
            type: string
      responses:
        '200':
          description: Successful response with profitability data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletProfitabilityResponse'
      x-mcp-prompt: Enter the wallet address and optional token addresses to analyze profitability. Use this when users want detailed profit data for a wallet or are evaluating specific token performance.
  /wallets/{address}/swaps:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get swap transactions by wallet address
      description: List all swap transactions (buy/sell) for a specific wallet. Optionally filter by `tokenAddress` for specific token swaps.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getSwapsByWalletAddress
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: path
        name: address
        description: The wallet address token-transactions are to be retrieved for.
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
      - in: query
        name: tokenAddress
        description: The token address to get transaction for (optional)
        required: false
        schema:
          type: string
      - in: query
        name: cursor
        description: The cursor returned in the previous response (used for getting the next page).
        schema:
          type: string
      - in: query
        name: limit
        description: The desired page size of the result.
        required: false
        schema:
          type: integer
          minimum: 0
      - in: query
        name: fromBlock
        description: 'The minimum block number from which to get the token transactions

          * Provide the param ''from_block'' or ''from_date''

          * If ''from_date'' and ''from_block'' are provided, ''from_block'' will be used.

          '
        required: false
        schema:
          type: integer
          minimum: 0
      - in: query
        name: toBlock
        description: The block number to get the token transactions from
        required: false
        schema:
          type: string
      - in: query
        name: fromDate
        description: 'The start date from which to get the token transactions (format in seconds or datestring accepted by momentjs)

          * Provide the param ''from_block'' or ''from_date''

          * If ''from_date'' and ''from_block'' are provided, ''from_block'' will be used.

          '
        required: false
        schema:
          type: string
      - in: query
        name: toDate
        description: 'The end date from which to get the token transactions (format in seconds or datestring accepted by momentjs)

          * Provide the param ''to_block'' or ''to_date''

          * If ''to_date'' and ''to_block'' are provided, ''to_block'' will be used.

          '
        required: false
        schema:
          type: string
      - in: query
        name: order
        description: The order of the result, in ascending (ASC) or descending (DESC)
        required: false
        schema:
          $ref: '#/components/schemas/orderList'
      - name: transactionTypes
        in: query
        required: false
        schema:
          type: string
        description: Array of transaction types. Allowed values are 'buy', 'sell'.
      responses:
        '200':
          description: Returns swap transactions by wallet address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSwapsByWalletAddressResponse'
      x-mcp-prompt: Provide the wallet address to view its swap transactions. Use this when users want to track a wallet's swap activity or analyze its trading behavior.
  /wallets/{address}/insight:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get wallet insight metrics
      description: Retrieve comprehensive wallet insight metrics including activity age, transfer counts, counterparties, and swap volume.
      tags:
      - Wallets
      x-tag-sdk: wallets
      operationId: getWalletInsight
      parameters:
      - in: path
        name: address
        description: The wallet address to get insight for
        required: true
        schema:
          type: string
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
      - in: query
        name: chains
        description: The chains to query. If not provided, aggregates across all supported chains.
        required: false
        schema:
          type: array
          items:
            type: string
          example:
          - '0x1'
          - '0x89'
      - in: query
        name: includeChainBreakdown
        description: When true, includes a per-chain breakdown array in the response with both native and USD values.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Returns wallet insight metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInsightResponse'
      x-mcp-prompt: Provide the wallet address to get comprehensive insight metrics. Use this when users want to analyze wallet behavior, activity patterns, or counterparty relationships.
components:
  schemas:
    erc20TokenBalanceWithPrice:
      type: object
      required:
      - name
      - symbol
      - decimals
      - balance
      - possible_spam
      - usd_price
      - usd_price_24hr_percent_change
      - usd_price_24hr_usd_change
      - use_value_24hr_usd_change
      - usd_value
      - portfolio_percentage
      - balance_formatted
      - native_token
      properties:
        token_address:
          type: string
          description: The address of the token contract
        name:
          type: string
          description: The name of the token
        symbol:
          type: string
          description: The symbol of the token
        logo:
          type: string
          description: The logo of the token
        thumbnail:
          type: string
          description: The thumbnail of the token logo
        decimals:
          type: integer
          description: The number of decimals on the token
        balance:
          type: string
          description: The balance of the token
        possible_spam:
          type: boolean
          description: Indicates if a contract is possibly a spam contract
        verified_contract:
          type: boolean
          description: Indicates if a contract is verified
        usd_price:
          type: string
          description: USD price of the token
        usd_price_24hr_percent_change:
          type: string
          description: 24-hour percent change in USD price of the token
        usd_price_24hr_usd_change:
          type: string
          description: 24-hour change in USD price of the token
        usd_value_24hr_usd_change:
          type: string
          description: 24-hour change in USD value of the token based on the balance
        usd_value:
          type: number
          description: USD value of the token balance
        portfolio_percentage:
          type: number
          description: Percentage of the token in the entire portfolio
        balance_formatted:
          type: string
          description: Balance of the token in decimal format
        native_token:
          type: boolean
          description: Indicates if the token is a native coin
        total_supply:
          type: string
          description: Total supply of the token
        total_supply_formatted:
          type: string
          description: Total supply of the token in decimal format
        percentage_relative_to_total_supply:
          type: number
          description: Percentage of the token in the total supply
    decodedEvent:
      type: object
      properties:
        signature:
          type: string
          example: Transfer(address,address,uint256)
        label:
          type: string
          example: Transfer
        type:
          type: string
          example: event
        params:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: from
              value:
                type: string
                example: '0x26C5011483Add49801eA8E3Ee354fE013895aCe5'
              type:
                type: string
                example: address
    native_transfer:
      required:
      - from_address
      - value
      - value_formatted
      - internal_transaction
      - token_symbol
      - token_logo
      properties:
        from_address_entity:
          type: string
          description: The from address entity
          example: Opensea
        from_address_entity_logo:
          type: string
          description: The logo of the from address entity
          example: https://opensea.io/favicon.ico
        from_address:
          type: string
          description: The address that sent the NFT
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        from_address_label:
          type: string
          nullable: true
          description: The label of the from address
          example: Binance 1
        to_address_entity:
          type: string
          description: The to address entity
          example: Beaver Build
        to_address_entity_logo:
          type: string
          description: The logo of the to address entity
          example: https://beaverbuild.com/favicon.ico
        to_address:
          type: string
          description: The address that received the NFT
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        to_address_label:
          type: string
          nullable: true
          description: The label of the to address
          example: Binance 2
        value:
          type: string
          description: The value that was sent in the transaction (ETH/BNB/etc..)
          example: '1000000000000000'
        value_formatted:
          type: string
          description: The value that was sent in the transaction (ETH/BNB/etc..) in decimal format
          example: '0.1'
        direction:
          type: string
          description: The direction of the transfer
          example: outgoing
        internal_transaction:
          type: boolean
          description: Indicates if the transaction is internal
          example: 'false'
        token_symbol:
          type: string
          description: The symbol of the token transferred
          example: ETH
        token_logo:
          type: string
          description: The logo of the token transferred
          example: https://cdn.moralis.io/eth/0x67b6d479c7bb412c54e03dca8e1bc6740ce6b99c.png
    unavailableChainNetWorth:
      required:
      - chain_id
      properties:
        chain_id:
          type: string
          description: The chain id
          example: '0x1'
    SpenderDetails:
      type: object
      properties:
        address:
          type: string
        address_label:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        symbol:
          type: string
          nullable: true
        logo:
          type: string
          nullable: true
        entity:
          type: string
          nullable: true
        entity_logo:
          type: string
          nullable: true
    TokenDetails:
      type: object
      properties:
        address:
          type: string
        address_label:
          type: string
          nullable: true
        token_name:
          type: string
        token_logo:
          type: string
        token_symbol:
          type: string
    walletStat:
      required:
      - nfts
      - collections
      - transactions
      - nft_transfers
      - token_transfers
      properties:
        nfts:
          type: string
          description: The number of NFTs owned by a wallet
          example: '100'
        collections:
          type: string
          description: The number of unique NFT collections owned by a wallet
          example: '10'
        transactions:
          type: object
          description: Transaction stats
          required:
          - total
          properties:
            total:
              type: string
              description: The number of transactions sent by a wallet
              example: '1000'
        nft_transfers:
          type: object
          description: NFT transfer stats
          required:
          - total
          properties:
            total:
              type: string
              description: The number of NFT transfers of a wallet
              example: '1000'
        token_transfers:
          type: object
          description: Token transfer stats
          required:
          - total
          properties:
            total:
              type: string
              description: The number of ERC20 token transfers of a wallet
              example: '1000'
    defiProtocolPosition:
      required:
      - label
      - tokens
      - balance_usd
      - total_unclaimed_usd_value
      properties:
        label:
          type: string
          description: The label of the position
          example: liquidity
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/defiTokenBalance'
        address:
          type: string
          description: The address of the position
          example: '0x06012c8cf97bead5deae237070f9587f8e7a266d'
        balance_usd:
          type: number
          description: The balance in USD
          example: '1000000'
        total_unclaimed_usd_value:
          type: number
          description: The total unclaimed USD value of the position
          example: '1000000'
        position_details:
          type: object
          description: The details of the position
          $ref: '#/components/schemas/defiPositionDetails'
    internalTransaction:
      type: object
      required:
      - transaction_hash
      - block_number
      - block_hash
      - type
      - from
      - to
      - value
      - gas
      - gas_used
      - input
      - output
      - error
      properties:
        transaction_hash:
          type: string
          description: The hash of the transaction
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        block_number:
          type: string
          description: The block number
          example: 12526958
        block_hash:
          type: string
          description: The block hash
          example: '0x0372c302e3c52e8f2e15d155e2c545e6d802e479236564af052759253b20fd86'
        type:
          type: string
          description: Call type
          example: CALL
        from:
          type: string
          description: The sender
          example: '0xd4a3BebD824189481FC45363602b83C9c7e9cbDf'
        to:
          type: string
          description: The recipient
          example: '0xa71db868318f0a0bae9411347cd4a6fa23d8d4ef'
        value:
          type: string
          description: The value that was transfered (in wei)
          example: '650000000000000000'
        gas:
          type: string
          description: The gas of the transaction
          example: '6721975'
        gas_used:
          type: string
          description: The used gas
          example: '6721975'
        input:
          type: string
          description: The input
          example: 0x
        output:
          type: string
          description: The output
          example: 0x
        error:
          type: string
          nullable: true
          description: Error message if the internal transaction failed
          example: Execution reverted
    ApprovalData:
      type: object
      properties:
        value:
          type: string
        value_formatted:
          type: string
          nullable: true
        token:
          $ref: '#/components/schemas/TokenDetails'
        spender:
          $ref: '#/components/schemas/SpenderDetails'
    SetApprovalAllResponse:
      type: object
      properties:
        set_approvals_all:
          type: array
          items:
            $ref: '#/components/schemas/SetApprovalAllData'
    walletHistoryNftTransfer:
      required:
      - token_address
      - token_id
      - log_index
      - contract_type
      - possible_spam
      - value
      - amount
      - transaction_type
      - direction
      - from_address
      - verified
      properties:
        token_address:
          type: string
          description: The address of the NFT contract
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        token_id:
          type: string
          description: The token ID of the NFT
          example: '15'
        token_name:
          type: string
          example: Tether USD
        token_symbol:
          type: string
          example: USDT
        from_address_entity:
          type: string
          description: The from address entity
          example: Opensea
        from_address_entity_logo:
          type: string
          description: The logo of the from address entity
          example: https://opensea.io/favicon.ico
        from_address:
          type: string
          description: The address that sent the NFT
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        from_address_label:
          type: string
          nullable: true
          description: The label of the from address
          example: Binance 1
        to_address_entity:
          type: string
          description: The to address entity
          example: Beaver Build
        to_address_entity_logo:
          type: string
          description: The logo of the to address entity
          example: https://beaverbuild.com/favicon.ico
        to_address:
          type: string
          description: The address that received the NFT
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        to_address_label:
          type: string
          nullable: true
          description: The label of the to address
          example: Binance 2
        value:
          type: string
          description: The value that was sent in the transaction (ETH/BNB/etc..)
          example: '1000000000000000'
        amount:
          type: string
          description: The number of tokens transferred
          example: '1'
        contract_type:
          type: string
          description: The type of NFT contract standard
          example: ERC721
        transaction_type:
          type: string
          description: The transaction type
        log_index:
          type: integer
          description: The log index
        operator:
          type: string
          description: The operator present only for ERC1155 transfers
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        possible_spam:
          type: boolean
          description: Indicates if a contract is possibly a spam contract
          example: 'false'
        verified_collection:
          type: boolean
          description: Indicates if a contract is verified
          example: 'false'
        direction:
          type: string
          description: The direction of the transfer
          example: outgoing
        collection_logo:
          type: string
          description: The logo of the collection
          example: https://cdn.moralis.io/eth/0x67b6d479c7bb412c54e03dca8e1bc6740ce6b99c.png
        collection_banner_image:
          type: string
          description: The banner image of the collection
          example: https://cdn.moralis.io/eth/0x67b6d479c7bb412c54e03dca8e1bc6740ce6b99c.png
        normalized_metadata:
          $ref: '#/components/schemas/normalizedMetadata'
          description: A normalized metadata version of the NFT's metadata.
    ApprovalResponse:
      type: object
      properties:
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/ApprovalData'
    SetApprovalAllData:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/TokenDetails'
        operator:
          $ref: '#/components/schemas/SpenderDetails'
    orderList:
      type: string
      example: DESC
      default: DESC
      enum:
      - ASC
      - DESC
    netWorthResult:
      required:
      - total_networth_usd
      - chains
      properties:
        total_networth_usd:
          type: string
          description: The total networth in USD
          example: '3879851.41'
        chains:
          type: array
          items:
            $ref: '#/components/schemas/chainNetWorth'
        unsupported_chain_ids:
          type: array
          items:
            type: string
          description: The chain ids that are not supported
        unavailable_chains:
          type: array
          items:
            $ref: '#/components/schemas/unavailableChainNetWorth'
          description: The chains that are not available during the request
    walletHistoryErc20Transfer:
      required:
      - token_name
      - token_symbol
      - token_logo
      - token_decimals
      - value_formatted
      - address
      - from_address
      - value
      - transaction_index
      - log_index
      - possible_spam
      - verified_contract
      properties:
        token_name:
          type: string
          example: Tether USD
        token_symbol:
          type: string
          example: USDT
        token_logo:
          type: string
          example: https://cdn.moralis.io/images/325/large/Tether-logo.png?1598003707
        token_decimals:
          type: string
          example: '6'
        address:
          type: string
          description: The address of the token
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        block_timestamp:
          type: string
          description: The block timestamp
          example: '2021-04-02T10:07:54.000Z'
        to_address_entity:
          type: string
          description: The to address entity
          example: Beaver Build
        to_address_entity_logo:
          type: string
          description: The logo of the to address entity
          example: https://beaverbuild.com/favicon.ico
        to_address:
          type: string
          description: The recipient
          example: '0x62AED87d21Ad0F3cdE4D147Fdcc9245401Af0044'
        to_address_label:
          type: string
          nullable: true
          description: The label of the to address
          example: Binance 2
        from_address_entity:
          type: string
          description: The from address entity
          example: Opensea
        from_address_entity_logo:
          type: string
          description: The logo of the from address entity
          example: https://opensea.io/favicon.ico
        from_address:
          type: string
          description: The sender
          example: '0xd4a3BebD824189481FC45363602b83C9c7e9cbDf'
        from_address_label:
          type: string
          nullable: true
          description: The label of the from address
          example: Binance 1
        value:
          type: string
          description: The value that was transfered (in wei)
          example: 650000000000000000
        value_formatted:
          type: string
          description: The value that was transfered decimal format
          example: '1.033'
        log_index:
          type: integer
          description: The log index of the transfer within the block
          example: 2
        possible_spam:
          type: boolean
          description: Indicates if a contract is possibly a spam contract
          example: 'false'
        verified_contract:
          type: boolean
          description: Indicates if a contract is verified
          example: 'false'
    SetRevokeAllResponse:
      type: object
      properties:
        set_revokes_all:
          type: array
          items:
            $ref: '#/components/schemas/SetApprovalAllData'
    WalletProfitabilityTokenData:
      type: object
      required:
      - token_address
      - avg_buy_price_usd
      - avg_sell_price_usd
      - total_usd_invested
      - total_tokens_sold
      - total_tokens_bought
      - total_sold_usd
      - avg_cost_of_quantity_sold
      - count_of_trades
      - realized_profit_usd
      - realized_profit_percentage
      - total_buys
      - total_sells
      - name
      - symbol
      - decimals
      - logo
      - possible_spam
      properties:
        token_address:
          type: string
          description: The address of the traded token.
        avg_buy_price_usd:
          type: string
          description: Average buy price in USD.
        avg_sell_price_usd:
          type: string
          description: Average sell price in USD.
        total_usd_invested:
          type: string
          description: Total USD invested.
        total_tokens_sold:
          type: string
          description: Total tokens sold.
        total_tokens_bought:
          type: string
          description: Total tokens bought.
        total_sold_usd:
          type: string
          description: Total USD received from selling tokens.
        avg_cost_of_quantity_sold:
          type: string
          description: Average cost of sold quantity.
        count_of_trades:
          type: number
          description: Count of trades for the token.
        realized_profit_usd:
          type: string
          description: Realized profit in USD for the token.
        realized_profit_percentage:
          type: number
          description: Realized profit percentage for the token.
        total_buys:
          type: number
          description: Total number of buys.
        total_sells:
          type: number
          description: Total number of sells.
        name:
          type: string
          description: Name of the token.
        symbol:
          type: string
          description: Symbol of the token.
        decimals:
          type: string
          description: Decimals of the token.
        logo:
          type: string
          description: Logo URL of the token.
        possible_spam:
          type: boolean
          description: Indicates whether the token is possibly spam.
    tokenApproval:
      type: object
      required:
      - block_number
      - value
      - token
      - spender
      properties:
        block_number:
          type: string
          description: The block number
          example: 12526958
        block_timestamp:
          type: string
          description: The block timestamp
          example: '2021-04-02T10:07:54.000Z'
          nullable: true
        transaction_hash:
          type: string
          description: The transaction hash
          example: '0x2d30ca6f024dbc1307ac8a1a44ca27de6f797ec22ef20627a1307243b0ab7d09'
          nullable: true
        value:
          type: string
          description: The native price of the token
          example: '8409770570506626'
        value_formatted:
          type: string
          description: The value that was sent in the transaction (ETH/BNB/etc..) in decimal format
          example: '0.1'
          nullable: true
        token:
          type: object
          properties:
            address:
              type: string
              description: The address of the token
              example: '0x67b6d479c7bb412c54e03dca8e1bc6740ce6b99c'
            address_label:
              type: string
              nullable: true
              description: The label of the token
            name:
              type: string
              nullable: true
              description: The name of the token
              example: Tether USD
            symbol:
              type: string
              nullable: true
              description: The symbol of the token
              example: USDT
            logo:
              type: string
              nullable: true
              description: The logo of the token
              example: https://opensea.io/favicon.ico
            possible_spam:
              type: boolean
              description: Indicates if the token is a possible spam
              example: false
            verified_contract:
              type: boolean
              description: Indicates if the token is verified
              example: false
            current_balance:
              type: string
              nullable: true
              description: The current balance of the token
              example: '1000000000000000'
            current_balance_formatted:
              type: string
              nullable: true
              description: The current balance of the token in decimal format
              example: '0.1'
            usd_price:
              type: string
              nullable: true
              description: The current price of the token in USD
              example: '1000000000000000'
            usd_at_risk:
              type: string
              nullable: true
              description: The amount of USD approve potentially at risk
              example: '1000000000000000'
        spender:
          type: object
          properties:
            address:
              type: string
              description: The address of the spender
              example: '0x67b6d479c7bb412c54e03dca8e1bc6740ce6b99c'
            address_label:
              type: string
              nullable: true
              description: The label of the spender
              example: Binance 1
            entity:
              type: string
              nullable: true
              description: The entity of the spender
              example: Opensea
            entity_logo:
              type: string
              nullable: true
              description: The logo of the spender
              example: https://opensea.io/favicon.ico
    defiPositionDetails:
      properties:
        fee_tier:
          type: number
          nullable: true
          description: The fee tier of the position
        range_tnd:
          type: number
          nullable: true
          description: The range trend of the position
        reserves:
          type: array
          nullable: true
          items:
            type: string
          description: The reserves of the position
        current_price:
          type: number
          nullable: true
          description: The current price of the position
        is_in_range:
          type: boolean
          nullable: true
          description: Whether the position is in range
        price_upper:
          type: number
          nullable: true
          description: The upper price of the range
        price_lower:
          type: number
          nullable: true
          description: The lower price of the range
        price_label:
          type: string
          nullable: true
          description: The price label
        liquidity:
          type: number
          nullable: true
          description: The liquidity of the position
        range_start:
          type: number
          nullable: true
          description: The start of the range
        pool_address:
          type: string
          nullable: true
          description: The address of the pool
        position_key:
          type: string
          nullable: true
          description: The key of the position
        nft_metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: Metadata of the NFT
        asset_standard:
          type: string
          nullable: true
          description: The standard of the asset
        apy:
          type: number
          nullable: true
          description: The annual percentage yield
        is_debt:
          type: boolean
          nullable: true
          description: Whether the position is a debt
        is_variable_debt:
          type: boolean
          nullable: true
          description: Whether the position is a variable debt
        is_stable_debt:
          type: boolean
          nullable: true
          description: Whether the position is a stable debt
        shares:
          type: string
          nullable: true
          description: The shares of the position
        reserve0:
          type: string
          nullable: true
          description: The first reserve of the position
        reserve1:
          type: string
          nullable: true
          description: The second reserve of the position
        factory:
          type: string
          description: The factory of the position
        pair:
          type: string
          nullable: true
          description: The pair of the position
        share_of_pool:
          type: number
          nullable: true
          description: The share of the pool
        no_price_available:
          type: boolean
          nullable: true
          description: Whether the price is available
        shares_in_strategy:
          type: string
          nullable: true
          description: The shares in the strategy
        strategy_address:
          type: string
          nullable: true
          description: The address of the strategy
        base_type:
          type: string
          nullable: true
          description: The base type of the position
        health_factor:
          type: number
          nullable: true
          description: The health factor of the position in percent
        is_enabled_collateral:
          type: boolean
          nullable: true
          description: Whether the supply position is enabled as collateral
    logVerbose:
      required:
      - log_index
      - transaction_hash
      - transaction_index
      - address
      - data
      - topic0
      - block_timestamp
      - block_number
      - block_hash
      - decoded_event
      properties:
        log_index:
          type: string
          example: '273'
        transaction_hash:
          type: string
          description: The hash of the transaction
          example: '0xdd9006489e46670e0e85d1fb88823099e7f596b08aeaac023e9da0851f26fdd5'
        transaction_index:
          type: string
          example: '204'
        address:
          type: string
          description: The address of the contract
          example: '0x3105d328c66d8d55092358cf595d54608178e9b5'
        data:
          type: string
          description: The data of the log
          example: '0x00000000000000000000000000000000000000000000000de05239bccd4d537400000000000000000000000000024dbc80a9f80e3d5fc0a0ee30e2693781a443'
        topic0:
          type: string
          example: '0x2caecd17d02f56fa897705dcc740da2d237c373f70686f4e0d9bd3bf0400ea7a'
        topic1:
          type: string
          example: '0x000000000000000000000000031002d15b0d0cd7c9129d6f644446368deae391'
        topic2:
          type: string
          example: '0x000000000000000000000000d25943be09f968ba740e0782a34e710100defae9'
        topic3:
          type: string
          example: null
        block_timestamp:
          type: string
          description: The timestamp of the block
          example: '2021-05-07T11:08:35.000Z'
        block_number:
          type: string
          description: The block number
          example: '12386788'
        block_hash:
          type: string
          description: The hash of the block
          example: '0x9b559aef7ea858608c2e554246fe4a24287e7aeeb976848df2b9a2531f4b9171'
        decoded_event:
          type: object
          description: The decoded data of the log
          $ref: '#/components/schemas/decodedEvent'
    WalletProfitabilityResponse:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/WalletProfitabilityTokenData'
          description: List of tokens traded with their respective profitability data.
    chainNetWorth:
      required:
      - chain
      - native_balance
      - native_balance_formatted
      - native_balance_usd
      - token_balance_usd
      - networth_usd
      properties:
        chain:
          type: string
          description: The chain
          example: eth
        native_balance:
          type: string
          description: The native balance
          example: '1085513807021271641379'
        native_balance_formatted:
          type: string
          description: The native balance formatted
          example: '1085.513807021271641379'
        native_balance_usd:
          type: string
          description: The native balance in USD
          example: '3158392.48'
        token_balance_usd:
          type: string
          description: The token balance in USD
          example: '721458.93'
        networth_usd:
          type: string
          description: The networth in USD
          example: '3879851.41'
    ETransactionCategory:
      type: string
      enum:
      - send
      - receive
      - token send
      - token receive
      - nft send
      - nft receive
      - token swap
      - deposit
      - withdraw
      - nft purchase
      - nft sale
      - airdrop
      - mint
      - burn
      - borrow
      - contract interaction
      description: Defines the category of the transaction.
    ResolveContractInteractionResponse:
      oneOf:
      - $ref: '#/components/schemas/ApprovalResponse'
      - $ref: '#/components/schemas/RevokeResponse'
      - $ref: '#/components/schemas/SetApprovalAllResponse'
      - $ref: '#/components/schemas/SetRevokeAllResponse'
    walletApprovals:
      required:
      - result
      - page
      - page_size
      - cursor
      properties:
        page:
          type: integer
          description: The current page of the result
          example: '2'
        page_size:
          type: integer
          description: The number of results per page
          example: '100'
        cursor:
          type: string
          description: The cursor to get to the next page
        result:
          type: array
          items:
            $ref: '#/components/schemas/tokenApproval'
    erc20TokenBalanceWithPriceResult:
      required:
      - result
      properties:
        page:
          type: integer
          description: The current page of the result
          example: '2'
        page_size:
          type: integer
          description: The number of results per page
          example: '100'
        block_number:
          type: string
          description: The block number of the transaction
          example: '13680123'
        cursor:
          type: string
          description: The cursor to get to the next page
        result:
          type: array
          items:
            $ref: '#/components/schemas/erc20TokenBalanceWithPrice'
    walletHistoryTransaction:
      type: object
      required:
      - hash
      - nonce
      - transaction_index
      - from_address
      - value
      - gas_price
      - receipt_cumulative_gas_used
      - receipt_gas_used
      - receipt_status
      - block_timestamp
      - block_number
      - block_hash
      - category
      - nft_transfers
      - summary
      - erc20_transfers
      - native_transfers
      - contract_interactions
      properties:
        hash:
          type: string
          description: The hash of the transaction
          example: '0x1ed85b3757a6d31d01a4d6677fc52fd3911d649a0af21fe5ca3f886b153773ed'
        nonce:
          type: string
          description: The nonce
          example: '1848059'
        transaction_index:
          type: string
          example: '108'
        from_address_entity:
          type: string
          description: The from address entity
          example: Opensea
        from_address_entity_logo:
          type: string
          description: The logo of the from address entity
          example: https://opensea.io/favicon.ico
        from_address:
          type: string
          description: The from address
          example: '0x267be1c1d684f78cb4f6a176c4911b741e4ffdc0'
        from_address_label:
          type: string
          nullable: true
          description: The label of the from address
          example: Binance 1
        to_address_entity:
          type: string
          description: The to address entity
          example: Beaver Build
        to_address_entity_logo:
          type: string
          description: The logo of the to address entity
          example: https://beaverbuild.com/favicon.ico
        to_address:
          type: string
          nullable: true
          description: The to address
          example: '0x003dde3494f30d861d063232c6a8c04394b686ff'
        to_address_label:
          type: string
          nullable: true
          description: The label of the to address
          example: Binance 2
        value:
          type: string
          description: The value sent
          example: '115580000000000000'
        gas:
          type: string
          example: '30000'
        gas_price:
          type: string
          description: The gas price
          example: '52500000000'
        input:
          type: string
          example: 0x
        receipt_cumulative_gas_used:
          type: string
          example: '4923073'
        receipt_gas_used:
          type: string
          example: '21000'
        receipt_contract_address:
          type: string
          example: '0x9869524fd160fe3adda6218883b6526c0977d3a5'
          nullable: true
        receipt_status:
          type: string
          example: '1'
        transaction_fee:
          type: string
          example: '0.00000000000000063'
        block_timestamp:
          type: string
          description: The block timestamp
          example: '2021-05-07T11:08:35.000Z'
        block_number:
          type: string
          description: The block number
          example: '12386788'
        block_hash:
          type: string
          description: The hash of the block
          example: '0x9b559aef7ea858608c2e554246fe4a24287e7aeeb976848df2b9a2531f4b9171'
        internal_transactions:
          type: array
          description: The internal transactions of the transaction
          items:
            $ref: '#/components/schemas/internalTransaction'
        category:
          $ref: '#/components/schemas/ETransactionCategory'
        contract_interactions:
          type: array
          description: The contract interactions that happend in the transaction
          $ref: '#/components/schemas/ResolveContractInteractionResponse'
        possible_spam:
          type: boolean
          description: Is transaction possible spam
          example: 'false'
        method_label:
          type: string
          description: The label of the method called if any called
          example: transfer
        summary:
          type: string
          description: Summary of what happened on the transaction
          example: transfer
        nft_transfers:
          type: array
          items:
            $ref: '#/components/schemas/walletHistoryNftTransfer'
        erc20_transfers:
          type: array
          items:
            $ref: '#/components/schemas/walletHistoryErc20Transfer'
        native_transfers:
          type: array
          items:
            $ref: '#/components/schemas/native_transfer'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/logVerbose'
    defiPositionSummaryResponse:
      properties:
        protocol_name:
          type: string
          description: The name of the protocol
          example: Uniswap v2
        protocol_id:
          type: string
          description: The id of the protocol
          example: uniswap-v2
        protocol_url:
          type: string
          description: The url of the protocol
          example: https://app.uniswap.org/pools/v2
        protocol_logo:
          type: string
          description: The logo of the protocol
          example: https://cdn.moralis.io/defi/uniswap.png
        position:
          type: object
          description: The position of the protocol
          $ref: '#/components/schemas/defiProtocolPosition'
    walletActiveChains:
      required:
      - address
      - active_chains
      properties:
        address:
          type: string
          description: The address of the wallet
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        active_chains:
          type: array
          items:
            $ref: '#/components/schemas/walletActiveChain'
    normalizedMetadata:
      properties:
        name:
          type: string
          description: The name or title of the NFT
          example: Moralis Mug
        description:
          type: string
          description: A detailed description of the NFT
          example: Moralis Coffee nug 3D Asset that can be used in 3D worldspaces. This NFT is presented as a flat PNG, a Unity3D Prefab and a standard fbx.
        image:
          type: string
          description: The URL of the NFT's image
          example: https://arw2wxg84h6b.moralishost.com:2053/server/files/tNJatzsHirx4V2VAep6sc923OYGxvkpBeJttR7Ks/de504bbadadcbe30c86278342fcf2560_moralismug.png
        external_link:
          type: string
          description: A link to additional information
          example: https://giphy.com/gifs/loop-recursion-ting-aaODAv1iuQdgI
        external_url:
          type: string
          description: A link to additional information
          example: https://giphy.com/gifs/loop-recursion-ting-aaODAv1iuQdgI
        animation_url:
          type: string
          description: An animated version of the NFT's image
          example: https://giphy.com/gifs/food-design-donuts-o9ngTPVYW4qo8
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/normalizedMetadataAttribute'
    CounterpartyCounts:
      type: object
      properties:
        sentTo:
          type: integer
          description: Number of unique counterparties sent to
          example: 412
        receivedFrom:
          type: integer
          description: Number of unique counterparties received from
          example: 615
    walletHistory:
      required:
      - result
      - page
      - page_size
      - cursor
      properties:
        synced_at:
          type: integer
          description: The position of the last synced block
          example: '837451'
        page:
          type: integer
          description: The current page of the result
          example: '2'
        page_size:
          type: integer
          description: The number of results per page
          example: '100'
        cursor:
          type: string
          description: The cursor to get to the next page
        result:
          type: array
          items:
            $ref: '#/components/schemas/walletHistoryTransaction'
    chainList:
      type: string
      example: eth
      default: eth
      enum:
      - eth
      - '0x1'
      - sepolia
      - '0xaa36a7'
      - polygon
      - '0x89'
      - bsc
      - '0x38'
      - bsc testnet
      - '0x61'
      - avalanche
      - '0xa86a'
      - fantom
      - '0xfa'
      - cronos
      - '0x19'
      - arbitrum
      - '0xa4b1'
      - chiliz
      - '0x15b38'
      - chiliz testnet
      - '0x15b32'
      - gnosis
      - '0x64'
      - gnosis testnet
      - '0x27d8'
      - base
      - '0x2105'
      - base sepolia
      - '0x14a34'
      - optimism
      - '0xa'
      - polygon amoy
      - '0x13882'
      - linea
      - '0xe708'
      - moonbeam
      - '0x504'
      - moonriver
      - '0x505'
      - moonbase
      - '0x507'
      - linea sepolia
      - '0xe705'
      - flow
      - '0x2eb'
      - flow-testnet
      - '0x221'
      - ronin
      - '0x7e4'
      - ronin-testnet
      - '0x31769'
      - lisk
      - '0x46f'
      - lisk-sepolia
      - '0x106a'
      - pulse
      - '0x171'
      - sei-testnet
      - '0x530'
      - sei
      - '0x531'
      - monad
      - '0x8f'
    RevokeResponse:
      type: object
      properties:
        revokes:
          type: array
          items:
            $ref: '#/components/schemas/ApprovalData'
    walletDefiSummary:
      required:
      - active_protocols
      - total_positions
      - total_usd_value
      - protocols
      properties:
        active_protocols:
          type: number
          description: The number of active protocols
          example: '10'
        total_positions:
          type: number
          description: The number of total positions
          example: '100'
        total_usd_value:
          type: number
          description: The total USD value of the wallet
          example: '1000000'
        total_unclaimed_usd_value:
          type: number
          description: The total unclaimed USD value of the wallet
          example: '1000000'
        protocols:
          type: array
          items:
            $ref: '#/components/schemas/defiProtocolBalance'
    getSwapsByWalletAddressResponse:
      required:
      - result
      properties:
        page:
          type: integer
          description: The current page of the result
          example: '2'
        page_size:
          type: integer
          description: The number of results per page
          example: '100'
        cursor:
          type: string
          description: The cursor to get to the next page
        result:
          type: array
          items:
            $ref: '#/components/schemas/swapsByWalletAddressResult'
    swapsByWalletAddressResult:
      type: object
      required:
      - transactionHash
      - transactionIndex
      - transactionType
      - blockTimestamp
      - blockNumber
      - subCategory
      - walletAddress
      - walletAddressLabel
      - entity
      - entityLogo
      - pairAddress
      - pairLabel
      - exchangeAddress
      - exchangeName
      - exchangeLogo
      - bought
      - sold
      - baseQuotePrice
      - totalValueUsd
      properties:
        transactionHash:
          type: string
          example: '0x2bfcba4715774420936669cd0ff2241d70e9abecab76c9db813602015b3134ad'
        transactionIndex:
          type: integer
          example: 1
        transactionType:
          type: string
          example: buy
        blockTimestamp:
          type: string
          example: '2022-02-22T00:00:00Z'
        blockNumber:
          type: number
          example: 21093423
        subCategory:
          type: string
          example: accumulation
        walletAddress:
          type: string
          example: '0x2bfcba4715774420936669cd0ff2241d70e9abec'
        walletAddressLabel:
          type: string
          example: Murad Wallet
        entity:
          type: string
          example: Murad
        entityLogo:
          type: string
          example: https://entities-logos.s3.us-east-1.amazonaws.com/murad.png
        pairAddress:
          type: string
          example: '0x36a46dff597c5a444bbc521d26787f57867d2214'
        pairLabel:
          type: string
          example: BRETT/WETH
        exchangeAddress:
          type: string
          example: '0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f'
        exchangeName:
          type: string
          example: Uniswap v2
        exchangeLogo:
          type: string
          example: https://entities-logos.s3.us-east-1.amazonaws.com/uniswap.png
        bought:
          $ref: '#/components/schemas/TokenTransactionTokenMetadata'
        sold:
          $ref: '#/components/schemas/TokenTransactionTokenMetadata'
        baseQuotePrice:
          type: string
          example: '0.00003376480687'
        totalValueUsd:
          type: number
          example: 1165
    TokenTransactionTokenMetadata:
      type: object
      properties:
        address:
          type: string
          description: The address of the token
          example: '0x003dde3494f30d861d063232c6a8c04394b686ff'
        name:
          type: string
          description: The name of the token
          example: BRETT
        symbol:
          type: string
          description: The symbol of the token
          example: BRETT
        logo:
          type: string
          description: The URL of the token's logo
          example: https://cdn.moralis.io/tokens/0x0000000000085d4780b73119b644ae5ecd22b376.png
        amount:
          type: string
          description: The amount of the token
          example: '14811.98'
        usdPrice:
          type: number
          description: The amount of the token
          example: 0.078634
        usdAmount:
          type: number
          description: The amount of the token
          example: 1155.33
      required:
      - address
      - name
      - symbol
      - logo
      - amount
      - usdPrice
      - usdAmount
    defiProtocolList:
      type: string
      example: uniswap-v3
      default: uniswap-v3
      enum:
      - uniswap-v2
      - uniswap-v3
      - pancakeswap-v2
      - pancakeswap-v3
      - quickswap-v2
      - quickswap-v3
      - sushiswap-v2
      - aave-v2
      - aave-v3
      - aave-lido
      - fraxswap-v1
      - fraxswap-v2
      - lido
      - makerdao
      - eigenlayer
      - pendle
      - etherfi
      - rocketpool
      - sparkfi
      - takara-lend
      - neverland
      - kintsu
    walletActiveChain:
      required:
      - chain
      - chain_id
      properties:
        chain:
          type: string
          description: The chain name
          example: eth
        chain_id:
          type: string
          description: The chain id
          example: '0x1'
        first_transaction:
          $ref: '#/components/schemas/transactionTimestamp'
        last_transaction:
          $ref: '#/components/schemas/transactionTimestamp'
    defiProtocolBalance:
      required:
      - total_usd_value
      - positions
      properties:
        total_usd_value:
          type: number
          description: The total USD value of the protocol
          example: '1000000'
        total_unclaimed_usd_value:
          type: number
          description: The total unclaimed USD value of the protocol
          example: '1000000'
        positions:
          type: number
          description: The number of positions
          example: '100'
    TransferCounts:
      type: object
      properties:
        sent:
          type: integer
          description: Number of transfers sent
          example: 210
        received:
          type: integer
          description: Number of transfers received
          example: 272
        total:
          type: integer
          description: Total number of transfers
          example: 482
    normalizedMetadataAttribute:
      properties:
        trait_type:
          type: string
          description: The trait title or descriptor
          example: Eye Color
        value:
          type: object
          description: The value of the attribute
          example: hazel
        display_type:
          type: string
          description: The type the attribute value should be displayed as
          example: string
        max_value:
          type: number
          description: For numeric values, the upper range
          example: 100
        trait_count:
          type: number
          description: The number of possible values for this trait
          example: 7
        order:
          type: number
          description: Order the trait should appear in the attribute list.
          example: 1
    defiTokenBalance:
      required:
      - name
      - decimals
      - symbol
      - contract_address
      - token_type
      - balance
      - balance_formatted
      properties:
        token_type:
          type: string
          description: The token type (supply/defi/borrow token)
          example: defi-token
        name:
          type: string
          description: The name of the token
          example: Wrapped Ether
        symbol:
          type: string
          description: The symbol of the token
          example: WETH
        contract_address:
          type: string
          description: The contract address
          example: '0x06012c8cf97bead5deae237070f9587f8e7a266d'
        decimals:
          type: number
          description: The decimals of the token
          example: '18'
        logo:
          type: string
          description: The logo of the token
          example: https://cdn.moralis.io/tokens/0x0000000000085d4780b73119b644ae5ecd22b376.png
        thumbnail:
          type: string
          description: The thumbnail of the token
          example: https://cdn.moralis.io/tokens/0x0000000000085d4780b73119b644ae5ecd22b376.png
        balance:
          type: string
          description: The balance of the token
          example: '1000000'
        balance_formatted:
          type: string
          description: The balance of the token formatted
          example: '1.000000'
        usd_price:
          type: number
          description: The USD price of the token
          example: '1000000'
        usd_value:
          type: number
          description: The USD value of the token
          example: '1000000'
    WalletInsightResponse:
      type: object
      properties:
        address:
          type: string
          description: The wallet address
          example: '0xcB1C1FdE09f811B294172696404e88E658659905'
        addressType:
          type: string
          description: The type of address
          example: evm
        walletAgeDays:
          type: integer
          description: Wallet age in days since first activity
          example: 1314
        firstActivityAt:
          $ref: '#/components/schemas/ActivityMetadata'
        lastActivityAt:
          $ref: '#/components/schemas/ActivityMetadata'
        firstInitiatedAt:
          $ref: '#/components/schemas/ActivityMetadata'
        lastInitiatedAt:
          $ref: '#/components/schemas/ActivityMetadata'
        activeDays:
          type: integer
          description: Number of unique active days
          example: 503
        activeChains:
          type: integer
          description: Number of unique chains the wallet is active on
          example: 9
        mostActiveChain:
          type: string
          nullable: true
          description: The chain ID with the most active days
          example: '0x1'
        transactionsInitiated:
          type: integer
          description: Number of transactions initiated by the wallet
          example: 724
        transactionsInvolved:
          type: integer
          description: Number of transactions involving the wallet
          example: 754
        nativeTransfers:
          $ref: '#/components/schemas/TransferCounts'
        erc20Transfers:
          $ref: '#/components/schemas/TransferCounts'
        nftTransfers:
          $ref: '#/components/schemas/TransferCounts'
        uniqueCounterparties:
          $ref: '#/components/schemas/CounterpartyCounts'
        swapVolumeUsd:
          type: number
          description: Total swap volume in USD
          example: 11778.556304337722
        totalGasSpentUsd:
          type: string
          description: Total gas spent in USD across requested chains
          example: '55.23'
        avgGasPerTransactionUsd:
          type: string
          description: Average gas per initiated transaction in USD
          example: '0.59'
        nativeVolumeSentUsd:
          type: string
          description: Total native token volume sent in USD
          example: '4025.93'
        nativeVolumeReceivedUsd:
          type: string
          description: Total native token volume received in USD
          example: '2081.83'
        nativeNetFlowUsd:
          type: string
          description: Net native token flow in USD. Negative means outflow
          example: '-1944.10'
        uniqueTokensInteracted:
          type: integer
          description: Number of unique ERC20 token contracts interacted with
          example: 4
        contractsCreated:
          type: integer
          description: Number of contracts created (deployed)
          example: 58
        largestNativeTransferInUsd:
          type: string
          description: Largest single native transfer received in USD
          example: '2061.94'
        largestNativeTransferOutUsd:
          type: string
          description: Largest single native transfer sent in USD
          example: '1570.53'
        chainBreakdown:
          type: array
          description: Per-chain breakdown with both native and USD values. Only included when includeChainBreakdown=true.
          items:
            $ref: '#/components/schemas/ChainBreakdownEntry'
    ChainBreakdownEntry:
      type: object
      properties:
        chain:
          type: string
          description: The chain ID
          example: '0x1'
        walletAgeDays:
          type: integer
          description: Wallet age in days on this chain
        firstActivityAt:
          $ref: '#/components/schemas/ActivityMetadata'
        lastActivityAt:
          $ref: '#/components/schemas/ActivityMetadata'
        firstInitiatedAt:
          $ref: '#/components/schemas/ActivityMetadata'
        lastInitiatedAt:
          $ref: '#/components/schemas/ActivityMetadata'
        activeDays:
          type: integer
          description: Number of unique active days on this chain
        transactionsInitiated:
          type: integer
          description: Number of transactions initiated on this chain
        transactionsInvolved:
          type: integer
          description: Number of transactions involving the wallet on this chain
        nativeTransfers:
          $ref: '#/components/schemas/TransferCounts'
        erc20Transfers:
          $ref: '#/components/schemas/TransferCounts'
        nftTransfers:
          $ref: '#/components/schemas/TransferCounts'
        uniqueCounterparties:
          $ref: '#/components/schemas/CounterpartyCounts'
        swapVolumeUsd:
          type: number
          description: Total swap volume in USD on this chain
        totalGasSpentNative:
          type: string
          description: Total gas spent in native token
        totalGasSpentUsd:
          type: string
          description: Total gas spent in USD
        avgGasPerTransactionNative:
          type: string
          description: Average gas per initiated transaction in native token
        avgGasPerTransactionUsd:
          type: string
          description: Average gas per initiated transaction in USD
        nativeVolumeSent:
          type: string
          description: Total native token volume sent
        nativeVolumeSentUsd:
          type: string
          description: Total native token volume sent in USD
        nativeVolumeReceived:
          type: string
          description: Total native token volume received
        nativeVolumeReceivedUsd:
          type: string
          description: Total native token volume received in USD
        nativeNetFlow:
          type: string
          description: Net native token flow (received - sent). Negative means outflow
        nativeNetFlowUsd:
          type: string
          description: Net native token flow in USD
        uniqueTokensInteracted:
          type: integer
          description: Number of unique ERC20 token contracts interacted with
        contractsCreated:
          type: integer
          description: Number of contracts created (deployed)
        largestNativeTransferIn:
          type: string
          description: Largest single native transfer received
        largestNativeTransferInUsd:
          type: string
          description: Largest single native transfer received in USD
        largestNativeTransferOut:
          type: string
          description: Largest single native transfer sent
        largestNativeTransferOutUsd:
          type: string
          description: Largest single native transfer sent in USD
    ActivityMetadata:
      type: object
      nullable: true
      properties:
        chain:
          type: string
          description: Chain ID
          example: '0x1'
        blockNumber:
          type: string
          description: Block number
          example: '23583751'
        blockTimestamp:
          type: string
          description: Block timestamp
          example: '2025-10-15T14:41:23.000Z'
        transactionHash:
          type: string
          description: Transaction hash
          example: 0x...
        type:
          type: string
          description: Activity type
          example: tokenTransfer
        direction:
          type: string
          description: Direction (in or out)
          example: in
    transactionTimestamp:
      required:
      - block_number
      - block_timestamp
      properties:
        block_number:
          type: string
          description: The block number
          example: '123456789'
        block_timestamp:
          type: string
          description: The block timestamp
          example: '2022-08-23T20:58:31.000Z'
        transaction_hash:
          type: string
          description: The hash of the transaction
          example: '0x2d30ca6f024dbc1307ac8a1a44ca27de6f797ec22ef20627a1307243b0ab7d09'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      x-default: test
x-samples-languages:
- node
- javascript
- csharp
- curl
- python
x-mcp-blacklist:
- getNFTTraitsByCollectionPaginate
- getNFTContractMetadata
- getTokenPrice
- getNativeBalance
- getTokenAnalytics
- resyncNFTRarity
- syncNFTContract
- reSyncMetadata
- runContractFunction
- web3ApiVersion
- endpointWeights
- getWalletTokenBalances
- getTokenMetadataBySymbol
- getWalletTransactions
- getWalletTransactionsVerbose
- getTransaction
- getPairPrice
- reviewContracts
- getTrendingTokens
- getWalletTokenTransfers
- getWalletNFTTransfers
- getPairReserves
- getPairAddress
- getTokenStats
- resolveAddressToDomain
- resolveDomain
- getNFTFloorPriceByToken
- getBlockStats
- getNewTokensByExchange
- getBondingTokensByExchange
- getGraduatedTokensByExchange
- getTokenBondingStatus
- getAggregatedTokenPairStats
- getTokenCategories
- getRisingLiquidityTokens
- getBuyingPressureTokens
- getSolidPerformersTokens
- getExperiencedBuyersTokens
- getRiskyBetsTokens
- getBlueChipTokens
- getNFTOwners
- getNFTTokenIdOwners
- getContractNFTs
- getNFTTradesByToken
- getNFTTransfers
