openapi: 3.0.0
info:
  title: EVM Balance Block API
  version: '2.2'
servers:
- url: https://deep-index.moralis.io/api/v2.2
security:
- ApiKeyAuth: []
tags:
- name: Block
paths:
  /block/{block_number_or_hash}:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get block by hash
      description: Get the contents of a block given the block hash.
      tags:
      - Block
      x-tag-sdk: block
      operationId: getBlock
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: path
        name: block_number_or_hash
        description: The block number or block hash
        required: true
        schema:
          type: string
          example: '15863321'
      - in: query
        name: include
        description: If the result should contain the internal transactions.
        required: false
        schema:
          $ref: '#/components/schemas/includeList'
      responses:
        '200':
          description: Returns the contents of a block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block'
      x-mcp-prompt: Enter the block hash to fetch its contents. Use this when users ask for details about a specific block or need block-level data.
  /latestBlockNumber/{chain}:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get latest block number
      description: Get the most recent block number for a specified blockchain.
      tags:
      - Block
      x-tag-sdk: block
      operationId: getLatestBlockNumber
      parameters:
      - in: path
        name: chain
        description: The chain to query
        required: true
        schema:
          $ref: '#/components/schemas/chainList'
          example: '0x1'
      responses:
        '200':
          description: Returns the latest block number.
          content:
            application/json:
              schema:
                type: string
                example: '15863321'
      x-mcp-prompt: Specify the blockchain (e.g., eth) to retrieve the latest block number. Use this when users ask for the current block number or need to sync with the latest chain state.
  /dateToBlock:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get block by date
      description: Find the closest block to a specific date on a blockchain.
      tags:
      - Block
      x-tag-sdk: block
      operationId: getDateToBlock
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: query
        name: date
        description: Unix date in milliseconds or a datestring (format in seconds or datestring accepted by momentjs)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the block number and corresponding date and timestamp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blockDate'
      x-mcp-prompt: Provide the date and blockchain (e.g., eth) to find the closest block. Use this when users want to find a block from a specific time or are analyzing historical chain data.
components:
  schemas:
    includeList:
      type: string
      example: ''
      default: ''
      enum:
      - internal_transactions
    block:
      type: object
      required:
      - timestamp
      - number
      - hash
      - parent_hash
      - nonce
      - sha3_uncles
      - logs_bloom
      - transactions_root
      - state_root
      - receipts_root
      - miner
      - difficulty
      - total_difficulty
      - size
      - extra_data
      - gas_limit
      - gas_used
      - transaction_count
      - transactions
      properties:
        timestamp:
          type: string
          description: The block timestamp
          example: '2021-05-07T11:08:35.000Z'
        number:
          type: string
          description: The block number
          example: 12386788
        hash:
          type: string
          description: The block hash
          example: '0x9b559aef7ea858608c2e554246fe4a24287e7aeeb976848df2b9a2531f4b9171'
        parent_hash:
          type: string
          description: The block hash of the parent block
          example: '0x011d1fc45839de975cc55d758943f9f1d204f80a90eb631f3bf064b80d53e045'
        nonce:
          type: string
          description: The nonce
          example: '0xedeb2d8fd2b2bdec'
        sha3_uncles:
          type: string
          example: '0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347'
        logs_bloom:
          type: string
          example: '0xdde5fc46c5d8bcbd58207bc9f267bf43298e23791a326ff02661e99790da9996b3e0dd912c0b8202d389d282c56e4d11eb2dec4898a32b6b165f1f4cae6aa0079498eab50293f3b8defbf6af11bb75f0408a563ddfc26a3323d1ff5f9849e95d5f034d88a757ddea032c75c00708c9ff34d2207f997cc7d93fd1fa160a6bfaf62a54e31f9fe67ab95752106ba9d185bfdc9b6dc3e17427f844ee74e5c09b17b83ad6e8fc7360f5c7c3e4e1939e77a6374bee57d1fa6b2322b11ad56ad0398302de9b26d6fbfe414aa416bff141fad9d4af6aea19322e47595e342cd377403f417dfd396ab5f151095a5535f51cbc34a40ce9648927b7d1d72ab9daf253e31daf'
        transactions_root:
          type: string
          example: '0xe4c7bf3aff7ad07f9e80d57f7189f0252592fee6321c2a9bd9b09b6ce0690d27'
        state_root:
          type: string
          example: '0x49e3bfe7b618e27fde8fa08884803a8458b502c6534af69873a3cc926a7c724b'
        receipts_root:
          type: string
          example: '0x7cf43d7e837284f036cf92c56973f5e27bdd253ca46168fa195a6b07fa719f23'
        miner:
          type: string
          description: The address of the miner
          example: '0xea674fdde714fd979de3edf0f56aa9716b898ec8'
        difficulty:
          type: string
          description: The difficulty of the block
          example: '7253857437305950'
        total_difficulty:
          type: string
          description: The total difficulty
          example: '24325637817906576196890'
        size:
          type: string
          description: The block size
          example: '61271'
        extra_data:
          type: string
          example: '0x65746865726d696e652d6575726f70652d7765737433'
        gas_limit:
          type: string
          description: The gas limit
          example: '14977947'
        gas_used:
          type: string
          description: The gas used
          example: '14964688'
        transaction_count:
          type: string
          description: The number of transactions in the block
          example: '252'
        transactions:
          type: array
          description: The transactions in the block
          items:
            $ref: '#/components/schemas/blockTransaction'
    blockDate:
      type: object
      required:
      - date
      - block
      - timestamp
      properties:
        date:
          type: string
          description: The date of the block
          example: '2020-01-01T00:00:00+00:00'
        block:
          type: number
          description: The block number
          example: 9193266
        timestamp:
          type: number
          description: The timestamp of the block
          example: 1577836811
        block_timestamp:
          type: string
          description: The timestamp of the block
          example: '2019-12-31T23:59:45.000Z'
        hash:
          type: string
          description: The block hash
          example: '0x9b559aef7ea858608c2e554246fe4a24287e7aeeb976848df2b9a2531f4b9171'
        parent_hash:
          type: string
          description: The block hash of the parent block
          example: '0x011d1fc45839de975cc55d758943f9f1d204f80a90eb631f3bf064b80d53e045'
    internalTransaction:
      type: object
      required:
      - transaction_hash
      - block_number
      - block_hash
      - type
      - from
      - to
      - value
      - gas
      - gas_used
      - input
      - output
      - error
      properties:
        transaction_hash:
          type: string
          description: The hash of the transaction
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
        block_number:
          type: string
          description: The block number
          example: 12526958
        block_hash:
          type: string
          description: The block hash
          example: '0x0372c302e3c52e8f2e15d155e2c545e6d802e479236564af052759253b20fd86'
        type:
          type: string
          description: Call type
          example: CALL
        from:
          type: string
          description: The sender
          example: '0xd4a3BebD824189481FC45363602b83C9c7e9cbDf'
        to:
          type: string
          description: The recipient
          example: '0xa71db868318f0a0bae9411347cd4a6fa23d8d4ef'
        value:
          type: string
          description: The value that was transfered (in wei)
          example: '650000000000000000'
        gas:
          type: string
          description: The gas of the transaction
          example: '6721975'
        gas_used:
          type: string
          description: The used gas
          example: '6721975'
        input:
          type: string
          description: The input
          example: 0x
        output:
          type: string
          description: The output
          example: 0x
        error:
          type: string
          nullable: true
          description: Error message if the internal transaction failed
          example: Execution reverted
    chainList:
      type: string
      example: eth
      default: eth
      enum:
      - eth
      - '0x1'
      - sepolia
      - '0xaa36a7'
      - polygon
      - '0x89'
      - bsc
      - '0x38'
      - bsc testnet
      - '0x61'
      - avalanche
      - '0xa86a'
      - fantom
      - '0xfa'
      - cronos
      - '0x19'
      - arbitrum
      - '0xa4b1'
      - chiliz
      - '0x15b38'
      - chiliz testnet
      - '0x15b32'
      - gnosis
      - '0x64'
      - gnosis testnet
      - '0x27d8'
      - base
      - '0x2105'
      - base sepolia
      - '0x14a34'
      - optimism
      - '0xa'
      - polygon amoy
      - '0x13882'
      - linea
      - '0xe708'
      - moonbeam
      - '0x504'
      - moonriver
      - '0x505'
      - moonbase
      - '0x507'
      - linea sepolia
      - '0xe705'
      - flow
      - '0x2eb'
      - flow-testnet
      - '0x221'
      - ronin
      - '0x7e4'
      - ronin-testnet
      - '0x31769'
      - lisk
      - '0x46f'
      - lisk-sepolia
      - '0x106a'
      - pulse
      - '0x171'
      - sei-testnet
      - '0x530'
      - sei
      - '0x531'
      - monad
      - '0x8f'
    log:
      type: object
      required:
      - log_index
      - transaction_hash
      - transaction_index
      - address
      - data
      - topic0
      - block_timestamp
      - block_number
      - block_hash
      properties:
        log_index:
          type: string
          example: '273'
        transaction_hash:
          type: string
          description: The hash of the transaction
          example: '0xdd9006489e46670e0e85d1fb88823099e7f596b08aeaac023e9da0851f26fdd5'
        transaction_index:
          type: string
          example: '204'
        address:
          type: string
          description: The address of the contract
          example: '0x3105d328c66d8d55092358cf595d54608178e9b5'
        data:
          type: string
          description: The data of the log
          example: '0x00000000000000000000000000000000000000000000000de05239bccd4d537400000000000000000000000000024dbc80a9f80e3d5fc0a0ee30e2693781a443'
        topic0:
          type: string
          example: '0x2caecd17d02f56fa897705dcc740da2d237c373f70686f4e0d9bd3bf0400ea7a'
        topic1:
          type: string
          nullable: true
          example: '0x000000000000000000000000031002d15b0d0cd7c9129d6f644446368deae391'
        topic2:
          type: string
          nullable: true
          example: '0x000000000000000000000000d25943be09f968ba740e0782a34e710100defae9'
        topic3:
          type: string
          nullable: true
          example: null
        block_timestamp:
          type: string
          description: The timestamp of the block
          example: '2021-05-07T11:08:35.000Z'
        block_number:
          type: string
          description: The block number
          example: '12386788'
        block_hash:
          type: string
          description: The hash of the block
          example: '0x9b559aef7ea858608c2e554246fe4a24287e7aeeb976848df2b9a2531f4b9171'
    blockTransaction:
      type: object
      required:
      - hash
      - nonce
      - transaction_index
      - from_address
      - value
      - gas_price
      - input
      - receipt_cumulative_gas_used
      - receipt_gas_used
      - receipt_status
      - block_timestamp
      - block_number
      - block_hash
      properties:
        hash:
          type: string
          description: The hash of the transaction
          example: '0x1ed85b3757a6d31d01a4d6677fc52fd3911d649a0af21fe5ca3f886b153773ed'
        nonce:
          type: string
          description: The nonce
          example: '1848059'
        transaction_index:
          type: string
          example: '108'
        from_address_entity:
          type: string
          description: The from address entity
          example: Opensea
        from_address_entity_logo:
          type: string
          description: The logo of the from address entity
          example: https://opensea.io/favicon.ico
        from_address:
          type: string
          description: The from address
          example: '0x267be1c1d684f78cb4f6a176c4911b741e4ffdc0'
        from_address_label:
          type: string
          nullable: true
          description: The label of the from address
          example: Binance 1
        to_address_entity:
          type: string
          description: The to address entity
          example: Beaver Build
        to_address_entity_logo:
          type: string
          description: The logo of the to address entity
          example: https://beaverbuild.com/favicon.ico
        to_address:
          type: string
          nullable: true
          description: The to address
          example: '0x003dde3494f30d861d063232c6a8c04394b686ff'
        to_address_label:
          type: string
          nullable: true
          description: The label of the to address
          example: Binance 2
        value:
          type: string
          description: The value sent
          example: '115580000000000000'
        gas:
          type: string
          example: '30000'
        gas_price:
          type: string
          description: The gas price
          example: '52500000000'
        input:
          type: string
          example: 0x
        receipt_cumulative_gas_used:
          type: string
          example: '4923073'
        receipt_gas_used:
          type: string
          example: '21000'
        receipt_contract_address:
          type: string
          nullable: true
          example: null
        receipt_root:
          type: string
          nullable: true
          example: null
        receipt_status:
          type: string
          example: '1'
        block_timestamp:
          type: string
          description: The block timestamp
          example: '2021-05-07T11:08:35.000Z'
        block_number:
          type: string
          description: The block number
          example: '12386788'
        block_hash:
          type: string
          description: The hash of the block
          example: '0x9b559aef7ea858608c2e554246fe4a24287e7aeeb976848df2b9a2531f4b9171'
        logs:
          type: array
          description: The logs of the transaction
          items:
            $ref: '#/components/schemas/log'
        internal_transactions:
          type: array
          description: The internal transactions of the transaction
          items:
            $ref: '#/components/schemas/internalTransaction'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      x-default: test
x-samples-languages:
- node
- javascript
- csharp
- curl
- python
x-mcp-blacklist:
- getNFTTraitsByCollectionPaginate
- getNFTContractMetadata
- getTokenPrice
- getNativeBalance
- getTokenAnalytics
- resyncNFTRarity
- syncNFTContract
- reSyncMetadata
- runContractFunction
- web3ApiVersion
- endpointWeights
- getWalletTokenBalances
- getTokenMetadataBySymbol
- getWalletTransactions
- getWalletTransactionsVerbose
- getTransaction
- getPairPrice
- reviewContracts
- getTrendingTokens
- getWalletTokenTransfers
- getWalletNFTTransfers
- getPairReserves
- getPairAddress
- getTokenStats
- resolveAddressToDomain
- resolveDomain
- getNFTFloorPriceByToken
- getBlockStats
- getNewTokensByExchange
- getBondingTokensByExchange
- getGraduatedTokensByExchange
- getTokenBondingStatus
- getAggregatedTokenPairStats
- getTokenCategories
- getRisingLiquidityTokens
- getBuyingPressureTokens
- getSolidPerformersTokens
- getExperiencedBuyersTokens
- getRiskyBetsTokens
- getBlueChipTokens
- getNFTOwners
- getNFTTokenIdOwners
- getContractNFTs
- getNFTTradesByToken
- getNFTTransfers
