openapi: 3.0.0
info:
  title: EVM Balance API
  version: '2.2'
servers:
- url: https://deep-index.moralis.io/api/v2.2
security:
- ApiKeyAuth: []
tags:
- name: Balance
paths:
  /{address}/balance:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get native balance by wallet
      description: Check the native token balance (e.g. ETH) for a specific wallet.
      tags:
      - Balance
      x-tag-sdk: balance
      operationId: getNativeBalance
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: path
        name: address
        description: The address from which the native balance will be checked
        required: true
        schema:
          type: string
          example: '0x057Ec652A4F150f7FF94f089A38008f49a0DF88e'
      - in: query
        name: to_block
        description: The block number up to which the balances will be checked.
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Returns the native balance for a specific address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nativeBalance'
      x-mcp-prompt: Provide the wallet address to fetch its native balance. Use this when users ask for a wallet’s ETH or native token balance.
  /wallets/balances:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get native balance for a set of wallets
      description: Retrieve native token balances (e.g. ETH) for one or many wallet addresses in single request.
      tags:
      - Balance
      x-tag-sdk: balance
      operationId: getNativeBalancesForAddresses
      parameters:
      - in: query
        name: chain
        description: The chain to query
        required: false
        schema:
          $ref: '#/components/schemas/chainList'
      - in: query
        name: to_block
        description: The block number on which the balances should be checked
        required: false
        schema:
          type: number
      - in: query
        name: wallet_addresses
        description: The addresses to get metadata for
        required: true
        schema:
          type: array
          maxItems: 25
          items:
            type: string
            example: '0xE92d1A43df510F82C66382592a047d288f85226f'
      responses:
        '200':
          description: Returns a collection of balances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nativeBalances'
      x-mcp-prompt: Submit a list of wallet addresses to fetch their native balances. Use this when users need balances for multiple wallets or are comparing holdings.
components:
  schemas:
    nativeBalance:
      type: object
      required:
      - balance
      properties:
        balance:
          type: string
          description: The balance
          example: '1234567890'
    nativeBalances:
      type: array
      items:
        type: object
        required:
        - chain
        - chain_id
        - total_balance
        - block_number
        - block_timestamp
        - total_balance_formatted
        - wallet_balances
        properties:
          chain:
            type: string
            description: The chain
            example: eth_mainnet
          chain_id:
            type: string
            description: The chain id
            example: '2'
          total_balance:
            type: string
            description: The total balances for all the walttes
            example: '57499206466583095'
          block_number:
            type: string
            description: The block Number
            example: '123456789'
          block_timestamp:
            type: string
            description: The block timestamp
            example: '0.057'
          total_balance_formatted:
            type: string
            description: The total balances for all the walttes formatted
            example: '123456789'
          wallet_balances:
            type: array
            items:
              type: object
              required:
              - address
              - balance
              - balance_formatted
              properties:
                address:
                  type: string
                  description: address
                  example: '0x123'
                balance:
                  type: string
                  description: balance
                  example: '28499206466583095'
                balance_formatted:
                  type: string
                  description: balance formatted
                  example: '0.0285'
    chainList:
      type: string
      example: eth
      default: eth
      enum:
      - eth
      - '0x1'
      - sepolia
      - '0xaa36a7'
      - polygon
      - '0x89'
      - bsc
      - '0x38'
      - bsc testnet
      - '0x61'
      - avalanche
      - '0xa86a'
      - fantom
      - '0xfa'
      - cronos
      - '0x19'
      - arbitrum
      - '0xa4b1'
      - chiliz
      - '0x15b38'
      - chiliz testnet
      - '0x15b32'
      - gnosis
      - '0x64'
      - gnosis testnet
      - '0x27d8'
      - base
      - '0x2105'
      - base sepolia
      - '0x14a34'
      - optimism
      - '0xa'
      - polygon amoy
      - '0x13882'
      - linea
      - '0xe708'
      - moonbeam
      - '0x504'
      - moonriver
      - '0x505'
      - moonbase
      - '0x507'
      - linea sepolia
      - '0xe705'
      - flow
      - '0x2eb'
      - flow-testnet
      - '0x221'
      - ronin
      - '0x7e4'
      - ronin-testnet
      - '0x31769'
      - lisk
      - '0x46f'
      - lisk-sepolia
      - '0x106a'
      - pulse
      - '0x171'
      - sei-testnet
      - '0x530'
      - sei
      - '0x531'
      - monad
      - '0x8f'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      x-default: test
x-samples-languages:
- node
- javascript
- csharp
- curl
- python
x-mcp-blacklist:
- getNFTTraitsByCollectionPaginate
- getNFTContractMetadata
- getTokenPrice
- getNativeBalance
- getTokenAnalytics
- resyncNFTRarity
- syncNFTContract
- reSyncMetadata
- runContractFunction
- web3ApiVersion
- endpointWeights
- getWalletTokenBalances
- getTokenMetadataBySymbol
- getWalletTransactions
- getWalletTransactionsVerbose
- getTransaction
- getPairPrice
- reviewContracts
- getTrendingTokens
- getWalletTokenTransfers
- getWalletNFTTransfers
- getPairReserves
- getPairAddress
- getTokenStats
- resolveAddressToDomain
- resolveDomain
- getNFTFloorPriceByToken
- getBlockStats
- getNewTokensByExchange
- getBondingTokensByExchange
- getGraduatedTokensByExchange
- getTokenBondingStatus
- getAggregatedTokenPairStats
- getTokenCategories
- getRisingLiquidityTokens
- getBuyingPressureTokens
- getSolidPerformersTokens
- getExperiencedBuyersTokens
- getRiskyBetsTokens
- getBlueChipTokens
- getNFTOwners
- getNFTTokenIdOwners
- getContractNFTs
- getNFTTradesByToken
- getNFTTransfers
